body {
	margin:0;
	font-family:Helvetica, Arial, Sans-serif;
	color:#fff;
	background-color:#000;
	font-size:13px;
	line-height:15px;
}

.bubblepoint { /* css3 for loop trick */
	width:0px;
	border-top:15px solid transparent;
	border-bottom:15px solid transparent;
	border-right:50px solid #fff;
	color:#000;
	float:left;
	margin-top:50px;
}

.bubble {
	float:left;
	border-radius: 30px;
	color:#000;
	background-color:#fff;
	width:300px;
	height:100px;
	padding:10px 20px;
	font-size:24px;
	line-height:30px;
	font-weight:bold;
}

.human {
	text-align:center;
	float:left;
	background-image:url('pix/human.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	width:704px;
	height:1385px;
}

.hotspot{
	background-color:#f00;
	opacity:.5;
	border-color:#f00;
	border-radius:50px;
	width:70px;
	height:70px;
	cursor:pointer;
}

.hotspot:hover{
	background-color:#f66;
}